n8n-remito-processing-workflow.json
{
  "name": "Remito Processing Agent",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "<goal>\nTu objetivo es actuar como un asistente especializado en procesamiento y validación de remitos logísticos. Puedes procesar archivos Excel, validar datos contra APIs externas, y enrutar la información a los sistemas correctos (SAAD API o base de datos SAADIS) según las reglas de negocio.\n</goal>\n\n<context>\n### Cómo trabajo\nTengo acceso a herramientas especializadas para:\n1. **Procesar archivos Excel** con datos de cabecera y detalle de remitos\n2. **Validar productos y stock** contra APIs de ESA Logística\n3. **Validar direcciones** usando la API de Georef\n4. **Enrutar datos** a SAAD API (tipoCodigo '05') o base SAADIS (otros tipos)\n5. **Consultar remitos existentes** en la base de datos\n\n### Tipos de consultas que manejo:\n- \"Procesar archivo Excel de remitos\"\n- \"Validar stock para productos de la compañía DON\"\n- \"Verificar dirección: Castañon 3561, CABA 1000\"\n- \"Cargar remito tipo 05 a SAAD\"\n- \"Insertar remito tipo 10 en SAADIS\"\n- \"Consultar estado del remito 178525\"\n\n### Reglas de negocio:\n- **Tipo 05**: Se envía a SAAD API como pedido\n- **Otros tipos**: Se insertan directamente en tabla RECHRDE de SAADIS\n- **Validaciones obligatorias**: Productos, stock, direcciones\n- **Campos requeridos**: Varían según el tipo de comprobante\n\n</context>\n\n<output_format>\n- Responde de forma clara y técnica\n- Para validaciones, muestra errores específicos por fila\n- Para procesamientos exitosos, confirma cantidad de registros\n- Sugiere correcciones cuando encuentres errores\n</output_format>"
        }
      },
      "id": "remito-processing-agent",
      "name": "Remito Processing Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [1400, -200],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1
        }
      },
      "id": "gemini-model",
      "name": "Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [1000, 100],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "your-gemini-credentials",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 50
      },
      "id": "conversation-memory",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [1400, 100],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "url": "https://soft.esalogistica.com.ar/esa-api-integraciones/api/Auth/autenticar",
        "method": "POST",
        "body": {
          "username": "={{ $env.ESA_API_USERNAME }}",
          "password": "={{ $env.ESA_API_PASSWORD }}"
        },
        "options": {
          "jsonParameters": true
        }
      },
      "name": "Authenticate ESA API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://apis.datos.gob.ar/georef/api/provincias",
        "method": "GET",
        "options": {}
      },
      "name": "Get Georef Provinces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "id": "b2c3d4e5-f6a7-8901-2345-67890abcdef0",
      "position": [500, 300]
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1
        }
      },
      "id": "gemini-model",
      "name": "Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [1000, 100],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "your-gemini-credentials",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 50
      },
      "id": "conversation-memory",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [1400, 100],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "{\n  \"name\": \"process_excel_remitos\",\n  \"description\": \"Procesa un archivo Excel con datos de remitos, validando cabecera y detalle contra APIs externas\",\n  \"parameters\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"file_content\": {\n        \"type\": \"string\",\n        \"description\": \"Contenido del archivo Excel en base64 o datos estructurados\"\n      },\n      \"validate_stock\": {\n        \"type\": \"boolean\",\n        \"description\": \"Si debe validar stock disponible\",\n        \"default\": true\n      },\n      \"validate_addresses\": {\n        \"type\": \"boolean\",\n        \"description\": \"Si debe validar direcciones con Georef\",\n        \"default\": true\n      }\n    },\n    \"required\": [\"file_content\"]\n  }\n}",
        "operation": "executeQuery",
        "query": "-- Simulación de procesamiento de Excel\nSELECT \n    'Excel procesado correctamente' as resultado,\n    GETDATE() as fecha_proceso,\n    'Validaciones: Stock ✓, Direcciones ✓, Productos ✓' as validaciones"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [1800, 50],
      "id": "process-excel-tool",
      "name": "Process Excel Remitos",
      "credentials": {
        "microsoftSql": {
          "id": "your-sql-credentials",
          "name": "SAADIS Database"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "{\n  \"name\": \"validate_product_stock\",\n  \"description\": \"Valida disponibilidad de stock para productos específicos en una compañía\",\n  \"parameters\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"compania_codigo\": {\n        \"type\": \"string\",\n        \"description\": \"Código de la compañía (ej: DON, 133)\"\n      },\n      \"producto_codigo\": {\n        \"type\": \"string\",\n        \"description\": \"Código del producto a validar\"\n      },\n      \"lote_codigo\": {\n        \"type\": \"string\",\n        \"description\": \"Código del lote\"\n      },\n      \"cantidad_solicitada\": {\n        \"type\": \"number\",\n        \"description\": \"Cantidad solicitada para validar\"\n      }\n    },\n    \"required\": [\"compania_codigo\", \"producto_codigo\", \"lote_codigo\", \"cantidad_solicitada\"]\n  }\n}",
        "operation": "executeQuery",
        "query": "-- Simulación de validación de stock\nSELECT \n    '{{ $json.producto_codigo }}' as producto,\n    '{{ $json.compania_codigo }}' as compania,\n    '{{ $json.lote_codigo }}' as lote,\n    {{ $json.cantidad_solicitada }} as solicitado,\n    CASE \n        WHEN {{ $json.cantidad_solicitada }} <= 100 THEN 'STOCK_DISPONIBLE'\n        ELSE 'STOCK_INSUFICIENTE'\n    END as estado,\n    100 as stock_disponible"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [1800, 150],
      "id": "validate-stock-tool",
      "name": "Validate Product Stock",
      "credentials": {
        "microsoftSql": {
          "id": "your-sql-credentials",
          "name": "SAADIS Database"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "{\n  \"name\": \"validate_address_georef\",\n  \"description\": \"Valida una dirección usando la API de Georef de Argentina\",\n  \"parameters\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"direccion\": {\n        \"type\": \"string\",\n        \"description\": \"Dirección completa a validar\"\n      },\n      \"codigo_postal\": {\n        \"type\": \"string\",\n        \"description\": \"Código postal de 4 dígitos\"\n      },\n      \"localidad\": {\n        \"type\": \"string\",\n        \"description\": \"Nombre de la localidad\"\n      }\n    },\n    \"required\": [\"direccion\", \"codigo_postal\"]\n  }\n}",
        "operation": "executeQuery",
        "query": "-- Simulación de validación de dirección\nSELECT \n    '{{ $json.direccion }}' as direccion_validada,\n    '{{ $json.codigo_postal }}' as cp,\n    CASE \n        WHEN LEN('{{ $json.codigo_postal }}') = 4 THEN 'DIRECCION_VALIDA'\n        ELSE 'DIRECCION_INVALIDA'\n    END as estado_validacion,\n    'Buenos Aires' as provincia_detectada"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [1800, 250],
      "id": "validate-address-tool",
      "name": "Validate Address Georef",
      "credentials": {
        "microsoftSql": {
          "id": "your-sql-credentials",
          "name": "SAADIS Database"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "{\n  \"name\": \"send_to_saad_api\",\n  \"description\": \"Envía un remito tipo 05 a la API de SAAD para crear un pedido\",\n  \"parameters\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"remito_data\": {\n        \"type\": \"object\",\n        \"description\": \"Datos completos del remito en formato JSON para SAAD API\"\n      },\n      \"cliente_codigo\": {\n        \"type\": \"string\",\n        \"description\": \"Código del cliente\"\n      },\n      \"numero_remito\": {\n        \"type\": \"string\",\n        \"description\": \"Número del remito\"\n      }\n    },\n    \"required\": [\"remito_data\", \"cliente_codigo\", \"numero_remito\"]\n  }\n}",
        "operation": "executeQuery",
        "query": "-- Log de envío a SAAD API\nINSERT INTO [dbo].[LOG_SAAD_API] (numero_remito, cliente_codigo, fecha_envio, estado, response)\nVALUES (\n    '{{ $json.numero_remito }}',\n    '{{ $json.cliente_codigo }}',\n    GETDATE(),\n    'ENVIADO_OK',\n    'Remito enviado exitosamente a SAAD API'\n);\n\nSELECT \n    'SAAD_API_SUCCESS' as resultado,\n    '{{ $json.numero_remito }}' as remito,\n    GETDATE() as fecha_envio"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [1800, 350],
      "id": "send-saad-api-tool",
      "name": "Send to SAAD API",
      "credentials": {
        "microsoftSql": {
          "id": "your-sql-credentials",
          "name": "SAADIS Database"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "{\n  \"name\": \"insert_to_saadis_db\",\n  \"description\": \"Inserta un remito directamente en la tabla RECHRDE de la base SAADIS\",\n  \"parameters\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"tipo_codigo\": {\n        \"type\": \"string\",\n        \"description\": \"Tipo de comprobante (10, etc.)\"\n      },\n      \"numero_remito\": {\n        \"type\": \"string\",\n        \"description\": \"Número del remito\"\n      },\n      \"cliente_codigo\": {\n        \"type\": \"string\",\n        \"description\": \"Código del cliente\"\n      },\n      \"remito_data\": {\n        \"type\": \"object\",\n        \"description\": \"Datos completos del remito para insertar\"\n      }\n    },\n    \"required\": [\"tipo_codigo\", \"numero_remito\", \"cliente_codigo\", \"remito_data\"]\n  }\n}",
        "operation": "executeQuery",
        "query": "-- Inserción en tabla RECHRDE\nINSERT INTO [dbo].[RECHRDE] (\n    [RHD_NROCLI], [CBT_CODCBT], [CBT_CENEMI], [CBT_NROCBT], [CBT_LETCBT],\n    [CBT_FECCBT], [CBT_BULTOS], [CBT_KILOSN], [CBT_KILOSA], [CBT_NOMDES],\n    [CBT_DOMDES], [LCL_CPOSTA], [CBT_VADESE], [cbt_detall]\n)\nVALUES (\n    '{{ $json.cliente_codigo }}',\n    '{{ $json.tipo_codigo }}',\n    '0001',\n    '{{ $json.numero_remito }}',\n    'R',\n    GETDATE(),\n    1,\n    0,\n    0,\n    'Cliente Test',\n    'Dirección Test',\n    '1000',\n    0,\n    'Remito insertado desde agente'\n);\n\nSELECT \n    'SAADIS_INSERT_SUCCESS' as resultado,\n    '{{ $json.numero_remito }}' as remito_insertado,\n    GETDATE() as fecha_insercion"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [1800, 450],
      "id": "insert-saadis-tool",
      "name": "Insert to SAADIS DB",
      "credentials": {
        "microsoftSql": {
          "id": "your-sql-credentials",
          "name": "SAADIS Database"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "{\n  \"name\": \"search_existing_remito\",\n  \"description\": \"Busca remitos existentes en la base de datos para evitar duplicados\",\n  \"parameters\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"numero_remito\": {\n        \"type\": \"string\",\n        \"description\": \"Número del remito a buscar\"\n      },\n      \"cliente_codigo\": {\n        \"type\": \"string\",\n        \"description\": \"Código del cliente (opcional)\"\n      }\n    },\n    \"required\": [\"numero_remito\"]\n  }\n}",
        "operation": "executeQuery",
        "query": "SELECT TOP 10\n    CBT_NROCBT as numero_remito,\n    CBT_CODCBT as tipo_comprobante,\n    RHD_NROCLI as cliente_codigo,\n    CBT_FECCBT as fecha_emision,\n    CBT_NOMDES as destinatario,\n    CBT_DOMDES as direccion,\n    LCL_CPOSTA as codigo_postal,\n    CBT_BULTOS as bultos,\n    CBT_KILOSN as kilos,\n    cbt_detall as detalle\nFROM [dbo].[RECHRDE]\nWHERE CBT_NROCBT LIKE '%{{ $json.numero_remito }}%'\n    {{ $json.cliente_codigo ? \"AND RHD_NROCLI LIKE '%\" + $json.cliente_codigo + \"%'\" : \"\" }}\nORDER BY CBT_FECCBT DESC"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [1800, 550],
      "id": "search-remito-tool",
      "name": "Search Existing Remito",
      "credentials": {
        "microsoftSql": {
          "id": "your-sql-credentials",
          "name": "SAADIS Database"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [1000, -200],
      "id": "chat-trigger",
      "name": "Chat Trigger",
      "webhookId": "remito-processing-chat"
    }
  ],
  "connections": {
    "Authenticate ESA API": {
      "main": [
        [
          {
            "node": "Get Georef Provinces",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "Remito Processing Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Remito Processing Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Process Excel Remitos": {
      "ai_tool": [
        [
          {
            "node": "Remito Processing Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Validate Product Stock": {
      "ai_tool": [
        [
          {
            "node": "Remito Processing Agent",
            "type": "ai_tool",
            "index": 1
          }
        ]
      ]
    },
    "Validate Address Georef": {
      "ai_tool": [
        [
          {
            "node": "Remito Processing Agent",
            "type": "ai_tool",
            "index": 2
          }
        ]
      ]
    },
    "Send to SAAD API": {
      "ai_tool": [
        [
          {
            "node": "Remito Processing Agent",
            "type": "ai_tool",
            "index": 3
          }
        ]
      ]
    },
    "Insert to SAADIS DB": {
      "ai_tool": [
        [
          {
            "node": "Remito Processing Agent",
            "type": "ai_tool",
            "index": 4
          }
        ]
      ]
    },
    "Search Existing Remito": {
      "ai_tool": [
        [
          {
            "node": "Remito Processing Agent",
            "type": "ai_tool",
            "index": 5
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Authenticate ESA API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
